@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .transform-smooth {
    transform: translateZ(0);
    backface-visibility: hidden;
    perspective: 1000px;
  }
  .will-change-transform {
    will-change: transform;
  }
}
