@tailwind base;
@tailwind components;
@tailwind utilities;

@import "swiper/css";
@import "swiper/css/effect-fade";

@layer utilities {
  .transform-smooth {
    transform: translateZ(0);
    backface-visibility: hidden;
    perspective: 1000px;
  }
  .will-change-transform {
    will-change: transform;
  }
}

.clip-slant {
  clip-path: polygon(100% 0%, 100% 0%, 100% 100%, 0% 0%);
}
.bg-clip-hero-image {
  clip-path: polygon(70% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.bg-clip-2 {
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}
